name: SonarQube

on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:

env:
  GO_VERSION: "1.25"
  NODE_VERSION: "lts/*"

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Go Setup
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Backend coverage
        run: |
          cd ads-backend
          go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest
          make coverage

      - name: Node Setup
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: UI coverage
        run: |
          cd ads-ui
          npm install -g pnpm
          pnpm install
          pnpm run test:coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
