name: SonarQube

on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Backend coverage
        run: |
          cd ads-backend
          make coverage

      - name: UI coverage
        run: |
          cd ads-ui
          npm install -g pnpm
          pnpm install
          pnpm run test:coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
