name: UI Checks

on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:

env:
  GO_VERSION: "1.25"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
